body{
    background-image: url("../Pics/Marvel_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

label{
    color: #ffffff;
}

h1{
    color: #ffffff;
    font-style: italic;
}

#list{
    max-height: 400px;
    overflow-y: scroll;
    list-style: none;
    border-radius: 2px 2px 2px 2px;
}

#list li a{
    color: #ffffff;
}

#content{
    margin-left: 20px;
    padding: 0;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

#content a{
    color: #ffffff;
    pointer-events: none;
    cursor: default;
}

#content .infobox a{
    color: #000000;
}

#content .infobox td{
    color: #000000;
}

#content .infobox th{
    color: #000000;
}

#content .vertical-navbox li{
    color: #000000;
}

#content .vertical-navbox td{
    color: #000000;
}

#content .vertical-navbox li a{
    color: #000000;
}

#content .vertical-navbox th a{
    color: #000000;
}

#content .vertical-navbox th{
    color: #000000;
}

#content .vertical-navbox a{
    color: #000000;
}