body{
    background-image: url("../Pics/Marvel_background.jpg");
}
#list{
    max-height: 600px;
    overflow-y: scroll;
    list-style: none;
}

#list li a{
    color: #ffffff;
}

#content{
    margin-left: 20px;
    padding: 0;
    color: #000000;
    /*text-shadow: 0 1px 1px #fff;*/
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

#content a{
    color: #000000;
    pointer-events: none;
    cursor: default;
}

.infobox{
    color: #000000;
}

.infobox a{
    color: #000000;
}